<h2>Theme <%=@theme.name%>  ID:(<%=@theme.id%>)</h2>
<br>
<form action="/admin/theme/<%=@theme.id%>" method = 'post'>
  <fieldset>
    <legend>Modify Theme:</legend>
    <input type="hidden" name="_method" value="patch">
    <label for="new_name">New Name:</label><br>
    <input type="text" id="new_name" name="new_name" title="Enter Theme name here" required><br>
    <div>
      <p>Currently set to '<%= @theme.active ? "Active" : "Inactive" %>'</p>
      <input type="radio" id="active_yes" name="active" value="yes" required>
      <label for="passwordless_yes">Yes</label><br>
      <input type="radio" id="active_no" name="active" value="no" required>
      <label for="active_no">No</label>
    </div>
    <br>
    <input type="submit" value="Submit">
    <input type="reset" value="Clear">
  </fieldset>
</form>
<br>
<form action="/admin/theme/<%=@theme.id%>" method = 'post'>
  <fieldset>
    <legend>Delete Theme:</legend>
    <input type="hidden" name="_method" value="delete">
    <%# checkbox only used for conformation on webpage %>
    <label for="i_am_sure"> Deletion is not reversible: </label>
    <input type="checkbox" id="i_am_sure" name="i_am_sure" required ><br>
    <input type="submit" value="Delete theme <%=@theme.name%>">
  </fieldset>
</form>
