<main>
# TODO: fix up
  <%=@party.name%> hosted by <%=@party.user.name%>
  The theme is <%=@party.theme.name%>
  At <%=@party.venue.name%> at <%=@party.event_date%> TimeSlot: <%=@party.time_slot%>
</main>
