<main class="container">
  <h2>Best places to party!</h2>
  <% Venue.all.each do |venue| %>

    <dl>
      <% next unless venue.active  %>
      <dt><%=venue.name%></dt>
      <dd>-> Location: <%= venue.street_addr %></dd>
      <dd>-> City: <%=venue.city%></dd>
      <dd>-> State: <%=venue.state%></dd>
      <dd>-> ZipCode: <%=venue.zipcode%></dd>
      <% end %>
    </dl>

</main>
